name: Email Workflow

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 23f3001390@ds.study.iitm.ac.in
        run: echo "Hello, world!"
